/* https://www.reddit.com/r/FirefoxCSS/comments/famrs0/blur_style_bookmarks_bar_autohide/ */
.urlbarView {
    background-image: url("images/noise-512x512.png") !important;
    background-color: rgba(0,0,0,.75) !important;
    backdrop-filter: blur(32px) !important;
}
#urlbar[open] #urlbar-background {
    /*display: none !important;*/
    max-height: 35px !important;
}
.urlbarView.megabar {
    margin-left: 1px !important;
    width: calc(100% - 2px) !important;
}

/* start https://www.reddit.com/r/FirefoxCSS/comments/fwugp4/megabar_userchrome_snippets/ */
/* Smaller search button paddings */
.search-one-offs {
    padding-top: 6px !important;
    padding-bottom: 7px !important;
}

/* Scrollable megabar */
#urlbar-results {
    height: unset !important;
    max-height: 480px !important;
    overflow-y: auto !important;
}
.urlbarView-body-outer {
    padding-bottom: 1px !important;
}
/* Make the new type icons scrollable (they are bugged) */
.urlbarView.megabar .urlbarView-type-icon {
    position: relative !important;
    left: -24px;
    margin-right: -20px;
}

/* Increase megabar width when its open (v2) */
#urlbar[open] {
    width: 79vw !important;
    max-width: calc(100vw - 416px) !important;
}

/* Reduce row paddings to make them more compact */
.urlbarView-row {
    padding: 2px !important;
    line-height: 1.20em !important;
}
.urlbarView-row-inner {
    padding-bottom: 8px !important;
}

/* Move the type icons to the left of the favicon. */
/*.urlbarView.megabar .urlbarView-favicon {
    margin-left: 20px !important;
}
.urlbarView.megabar .urlbarView-type-icon {
    position: relative !important;
    left: -54px !important;
    top: -4px !important;
    margin-right: -24px !important;
    height: 16px !important;
    width: 16px !important;
    filter: contrast(90%) brightness(110%);
}*/
/* end https://www.reddit.com/r/FirefoxCSS/comments/fwugp4/megabar_userchrome_snippets/ */
