/* https://www.reddit.com/r/FirefoxCSS/comments/famrs0/blur_style_bookmarks_bar_autohide/ */
.urlbarView {
    background-image: url(images/noise-512x512.png) !important;
    background-color: rgba(0,0,0,.75) !important;
    backdrop-filter: blur(32px) !important;
}
#urlbar[open] #urlbar-background {
    /*display: none !important;*/
	max-height: 35px !important;
}
.urlbarView.megabar {
	margin-left: 1px !important;
	width: calc(100% - 2px) !important;
}