#main-window #statuspanel[type=overLink] {
    display: none;
}
#main-window #statuspanel #statuspanel-inner #statuspanel-label {
	border-top-right-radius: 3px;
}
#main-window #statuspanel[mirror="true"] #statuspanel-inner #statuspanel-label {
	border-top-left-radius: 3px;
}
